---
import Container from '../shared/Container.astro';
---

<section class="bg-gradient-to-b md:h-[80vh] from-purple-400 to-gray-100">
  <Container
    class="text-center p-6 py-12 h-full justify-center flex flex-col gap-3"
  >
    <h3 class="mb-7 text-3xl font-bold md:text-4xl lg:text-5xl">
      Need to Escrow a complicated transaction, latest update on cheapest food
      prices and deals within Nigeria?
    </h3>

    <small class="mt-4">Contact our friendly support team for assistance.</small
    >

    <div class="flex items-center justify-center gap-3 mt-2">
      <a
        href="mailto:sales@kadproz.com"
        class="button bg-transparent border border-green-800 text-green-800 px-6 py-3 rounded-3xl text-sm"
        >Send an email</a
      >
      <a
        href="http://wa.me/2349012222314"
        class="button bg-green-800 text-white px-6 py-3 rounded-3xl text-sm font-bold"
        >Chat on WhatsAppp</a
      >
    </div>
  </Container>
</section>
